$primaryWhiteColor: #ffffff;
$greyColor: rgb(51, 51, 51);
$lightGreyColor: rgb(153, 153, 153);
$afterColor: rgb(243, 129, 129);
$highlightingColor: rgb(252, 227, 138);
$borderColor: rgb(229, 229, 229);
$izumrudColor: rgb(149, 225, 211);
$inputTextColor: rgb(204, 204, 204);
$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'Roboto', sans-serif;
$italicFont: 'Kaushan Script', sans-serif;
