.section-descriptions {
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.6;
  color: $lightGreyColor;
  font-family: $secondaryFont;
  margin-bottom: 88px;
}
