.sections-title {
  text-align: center;
  color: $greyColor;
  font-family: $mainFont;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  &::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: $afterColor;
    margin: 0 auto;
    margin-top: 37px;
  }
}

.sections-title_italic {
  font-family: $italicFont;
  font-size: 24px;
  display: block;
  text-transform: none;
  margin-bottom: 13px;
}

.services-title {
  margin-bottom: 64px;
}

.team-title {
  margin-bottom: 40px;
}
